window {
   background-image: url("/home/pallaire/Pictures/wallpapers/iwanttobelieve-night.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
